.banner {
	background-image: url(../../images/Clothes.jpeg);
	color: white;
	padding: 200px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 45px;
	margin-bottom: 5px;
	font-weight: bold;
	color: white;

}

.banner h2 {
	font-size: 30px;
	font-weight: lighter; 
	color: white;

}

@media (max-width: 960px) {
  .banner {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .banner {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .banner {
    width: 300px;
  }
}	